# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Andy Goellner
	email = agoellner@yahoo.com
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/andy/.gitignore_global

[rebase]
    autosquash = true
